@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background: linear-gradient(236.85deg, #0e0d0d 18.26%, #d40e0eea 98.03%);
    font-family: 'Roboto', sans-serif;
}

.container {
    background: #ffe9e9;
    color: #1C1C1C;
    margin: 64px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #450f0f;
    padding: 64px;
}

.perfil {
    display:flex;
    align-items: center;
}

.perfil-foto {
    border-radius: 400px;
    max-height: 160px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
    margin-left: 16px;
}

.titulo h1 {
    font-weight: 700;
    font-size: 36px;
}

.titulo h3 {
    font-weight: 400;
    font-size: 24px;
}

.projetos {
    background: linear-gradient(236.85deg, #111010e5 9.26%, #072148 98.03%);
    margin: 30px;
    color: wheat;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    box-shadow: 6px 6px 6px #141212ba;
    flex-direction: column;

}

.projetos-titulo{
    list-style: none;
    align-items: center;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    margin-right: 65px;
}

.titulo h3 {
    font-size: 22.49999904px;
}

.projetos-item {
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    height: 0px;
}

.projetos-item2 {
    list-style-type: none;
    font-weight: 400;
    font-size: 24px;
    margin-left: 600px;
    line-height: 28px;
    height: 500px;
}

.projetos-item a {
    color: wheat;
    text-decoration: none;
}

.projetos-item2 a {
    color: wheat;
    text-decoration: none;
}
